<!DOCTYPE html>
<html>
  <head>
    <title>Tutu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    (с) 2021 Архипов Виталий. Учебный проект в онлайн-школе Thinknetica
    <a href="/">Главная</a>
  </footer>
</html>
